/*
 *  公共样式
 *  使用方法：
 */

/* 字体加粗 */
.fwb{font-weight:bold;} .fw500{font-weight:500;} .fw600{font-weight:600;} .fw700{font-weight:700;} .fw800{font-weight:800;} .fw900{font-weight:900;}
/* 文字对齐方式 */
.tac{text-align:center;}.tal{text-align:left;}.tar{text-align:right;}
/* 浮动 */
.fl{float:left;} .fr{float:right;} .fc{clear:both;} .ffc:after{content:'';display:block;height:0;visibility:hidden;clear:both;}
/* 字体自动换行 */
.fwbba{word-break:break-all}
/* 溢出隐藏 */
.oh{overflow:hidden;}
.ohoy{overflow-y: auto;} .ohox{overflow-x: auto;}
.ohd1{max-height:40rpx;overflow:hidden;word-break:break-all;/*break-all(允许在单词内换行)*/text-overflow:ellipsis;/*超出部分省略号*/display:-webkit-box;/**对象作为伸缩盒子模型显示**/-webkit-box-orient:vertical;/**设置或检索伸缩盒对象的子元素的排列方式**/-webkit-line-clamp:1;/**显示的行数**/}
.ohd2{max-height:80rpx;overflow:hidden;word-break:break-all;/*break-all(允许在单词内换行)*/text-overflow:ellipsis;/*超出部分省略号*/display:-webkit-box;/**对象作为伸缩盒子模型显示**/-webkit-box-orient:vertical;/**设置或检索伸缩盒对象的子元素的排列方式**/-webkit-line-clamp:2;/**显示的行数**/}
/* 鼠标样式 */
.cup{cursor:pointer;}
/* 定位 */
.pf{position: fixed;} .pr{position: relative;} .pa{position: absolute;}
.zf1{z-index:-1;}
.z0{z-index:0;}.z1{z-index:1;}.z2{z-index:2;}.z3{z-index:3;}.z4{z-index:4;}.z5{z-index:5;}.z6{z-index:6;}.z7{z-index:7;}.z8{z-index:8;}.z9{z-index:9;}.z10{z-index:10;}
.t0{top: 0;}.r0{right: 0;}.l0{left: 0;}.b0{bottom: 0;}
/* 自身的一半 */
.tftf505{transform: translate(-50%,-50%);}
/* 控制状态栏高度 */
.status_bar{height:var(--status-bar-height);width:100%;}
/* 居中 */
.mauto{margin:auto;}
/* 盒子 */
.db{display:block;}
.df{display:flex;}/* 盒子 */
.flex1{flex: 1;}
.fdr{flex-direction:row;}            /* 排列方向 - 从左到右边*/
.fdrr{flex-direction:row-reverse;}   /* 排列方向 - 从右向左*/
.fdc{flex-direction:column;}         /* 排列方向 - 从上到下*/
.fdcr{flex-direction:column-reverse;}/* 排列方向 - 从下到上*/

.fwn{flex-wrap:nowrap;}              /* 换行 - 不换行 - 默认*/
.fww{flex-wrap:wrap;}                /* 换行 - 上下 - 正常*/

.jcfs{justify-content:flex-start;}   /* 左右对齐 - 左对齐*/
.jcfe{justify-content:flex-end;}     /* 左右对齐 - 右对齐*/
.jcc{justify-content:center;}        /* 左右对齐 - 居中*/
.jcsb{justify-content:space-between;}/* 左右对齐 - 两端对齐*/
.jcsa{justify-content:space-around;} /* 左右对齐 - 平分*/

.aifs{align-items:flex-start;}       /* 上下对齐 - 居上*/
.aife{align-items:flex-end;}         /* 上下对齐 - 居下*/
.aic{align-items:center;}            /* 上下对齐 - 居中*/
.aib{align-items:baseline;}          /* 上下对齐 - 文字对齐*/
.ais{align-items:stretch;}           /* 上下对齐 - 上下顶满*/

.acfs{align-content:flex-start;}     /* 盒子对齐 - 居上*/
.acfe{align-content:flex-end;}       /* 盒子对齐 - 居下*/
.acc{align-content:center;}          /* 盒子对齐 - 居中*/
.acsb{align-content:space-between;}  /* 盒子对齐 - ,平分*/
.acs{align-content:stretch;}         /* 盒子对齐 - 铺满*/

.dfg0{flex-grow:0}/*假设默认三个项目中前两个个项目都是0，最后一个是1，最后的项目会沾满剩余所有空间*/
.dfg1{flex-grow:1}/*假设默认三个项目中前两个个项目都是0，最后一个是1，最后的项目会沾满剩余所有空间*/
.dfs0{flex-shrink:0}/*取值：默认1，用于决定项目在空间不足时是否缩小，默认项目都是1，即空间不足时大家一起等比缩小；注意，即便设置了固定宽度，也会缩小*/
.dfs1{flex-shrink:1}/*但如果某个项目flex-shrink设置为0，则即便空间不够，自身也不缩小。*/
.fx1{flex:1}
.dhh{word-break:break-all;}

/* 删除线 */
.tdl_lt{text-decoration-line:line-through}
.td_lt{text-decoration: line-through;}

/* 程序主题色*/
.cscs{color: #f00;}
.csys{color: #ff7200;} .bcsys{background-color: #ff7200;} .b1sys{border:1rpx solid #ff7200;}  .bb1sys{border-bottom:1rpx solid #ff7200;}
.csys1{color: #fff2f1;} .bcsys1{background-color: #fff2f1;} .bb1sys1{border-bottom:1rpx solid #fff2f1;}
/* 定义一个全局的 CSS 变量来存储颜色 */
:root {
    //导航头
    --Headers-color: #ff7200; //选中颜色
    --HeadersMain-color: #000; //默认颜色
}

/*
*页面初始化
*/
/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    // scroll-behavior: smooth;
}
 
/* 去掉 li 的小圆点 */
li {
    list-style: none
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/* 去除默认样式 */
a {
    text-decoration: none;
    color: inherit;
  }
  
  /* 悬停时的样式 */
  a:hover {
    text-decoration: underline; /* 悬停时可以添加下划线，增加可交互性 */
    color: #333;             /* 你可以自定义颜色 */
  }
/*
*   每个页面样式
*/
//导航头信息
.HeadersDemo{
    /* 导航栏样式 */
.header {
    position: fixed; /* 固定在页面顶部 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* 半透明背景 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加微弱阴影 */
    z-index: 1000; /* 确保导航栏位于其他元素之上 */
    padding: 10px 0; /* 顶部和底部的间距 */
    transition: background-color 0.3s ease; /* 背景颜色的过渡效果 */
  
    .container {
      display: flex;
      justify-content: space-between; /* 左右两边分布 */
      align-items: center;
      max-width: 1200px;
      margin: 0 auto; /* 居中 */
      padding: 0 20px;
    }
  
    /* logo 样式 */
    .logo img {
      width: 100%;
      height: 40px;
      width: auto;
    }
  
    /* 导航栏样式 */
    .nav ul {
      list-style: none;
      display: flex;
      gap: 40px; /* 每个菜单项之间的间距 */
      li {
        position: relative;
        .lia {
          text-decoration: none;
          font-size: 18px;
        //   font-weight: bold;
          color: var(--HeadersMain-color); /* 默认文字颜色 */
          transition: color 0.3s ease;
        }
      }
      // 
    }
    //选中字体颜色
    .nav li.active .lia {
        color: var(--Headers-color); /* 默认文字颜色 */
    }
    /* 鼠标悬停效果 */
    .nav .lia:hover {
      color: var(--Headers-color); /* 鼠标悬停时文字变蓝 */
    }
    /* 悬停时横线效果 */
    .nav li .lia:hover::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--Headers-color); /* 横线颜色 */
      animation: line-animation 0.3s ease-out;
    }
  
    /* 选中时颜色变化 */
    .nav .lia .active {
      color: var(--Headers-color);
    }
  }
  /* 横线动画 */
  @keyframes line-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
//底部
.FootersDemo{
    margin-top: 30px;
    background-color: #fff;
.container {
    display: flex;
    justify-content: space-between; /* 左右两边分布 */
    align-items: center;
    max-width: 985.5px;
    min-height: 120px;
    margin: 0 auto; /* 居中 */
    padding:  40px 0;
    
    .demo1{
        cursor: pointer;
        line-height: 20px;
        font-size: 12px;
        color: #000;
    }
    .demo2{
        font-size: 14px;
        color: #333;
        img{
            width: 300px;
        }
    }
}
}

//首页
.IndexDemo{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    max-width: 100%;
    .AboutMainCenter{
      max-width: 1200px;
      margin: 0px auto;
      padding: 80px;
      display: flex;
      align-items: flex-start;
      .left{
        margin-right: 50px;
        background-color: #fff;
      }
      .right{
        background-color: #fff;
        width: 100%;
        border: 1px solid #d4d4d5;
        padding: 14px 28px;
        &:hover{
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* 悬浮时阴影效果 */
          transform: translateY(-1px); /* 增加一点抬升效果 */
        }
        .title{
          font-size: 24px;
          color: #333;
          transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s ease;
          text-align: center;
          &:hover{
            cursor: pointer;
            transform: scale(1.2); 
            opacity: 0.8; 
          }
        }
        .information{
          margin: 30px 0;
          ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 14px;
            color: #2c2c2c;
            li{
              span{
                color: #00a7e0;
              }
              img {
                width: 18px;
                height: 18px;
                object-fit: contain;
                display: inline;
                vertical-align: middle; /* 确保图片和文本垂直居中 */
                margin: 0 5px 2px 0; /* 给图片和文本之间加点间距 */
              } 
            }
          }
        }
        .MainImage{
          img{
            width: 640px;
            height: 360px;
          }
        }
        .ButtonRead{
          text-align: center;

        }
      }
    }
}
//关于我
.AboutDemo{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #efefef;
  .AboutMainCenter{
    max-width: 1200px;
    margin: 0px auto;
    padding: 80px;
    display: flex;
    align-items: flex-start;
    .left{
      margin-right: 50px;
      background-color: #fff;
    }
    .right{
      background-color: #fff;
      width: 100%;
      border: 1px solid #d4d4d5;
      padding: 14px 28px;
      .name{
        font-size: 24px;
        margin: 0 0 14px;
        text-align: center;
        width: 100%;
      }
      .AboutME{
        color: #24292f;
        >h3{
          font-size: 20px;
          padding: 10px 0;
          border-bottom: 1px solid #d8dee4;
        }
        ul{
          li{
            list-style-type: disc;
            margin: 15px 0 18px 14px;
            font-style: 15px;
          }
        }
      }
      .AboutME2{
        color: #24292f;
        >h3{
          font-size: 20px;
          padding: 10px 0;
          border-bottom: 1px solid #d8dee4;
        }
        ul{
          li{
            margin: 15px 0 18px;
            font-style: 15px;
          }
          .ysjf {
            img {
              display: inline;
              margin-right: 5px;
              font-size: 0;
              width: 17px;
            }
          }
          .wxjb{
            width: 300px;
          }
        }
      }
    }
  }
}

//Hook

//PizheHook
.PizheHook{
  width: 250px;
  .Center{
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 平滑过渡 */
    &:hover{
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* 悬浮时阴影效果 */
      transform: translateY(-1px); /* 增加一点抬升效果 */
    }
    .touxiang{
      width: 250px;
    }
    .piName{
      margin: 10px 0; 
       text-align: center;
       font-size: 18px;
       color: #000;
       font-weight: bold;
    }
    .piTip{
      margin: 10px 0; 
      text-align: center;
      font-size: 14px;
      color: #666;
    }
    .piIcon{
      margin: 10px 0; 
      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
          width: 38px;
          height: 38px;
          background-color: #E0E1E2;
          color: rgba(0, 0, 0, .6);
          border-radius: 100px;
          display: flex; 
          align-items: center; 
          justify-content: center; 
          img {
            width: 16px;
            height: 16px;
            object-fit: contain; /* 保证图片不会变形 */
          }
          &:hover{
            background-color: #cacbcd;
          }
        }
      }
      
    }
  }
}